*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    color: #000;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}
.logo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.logo a {
    text-decoration: none;
    color: #333;
    max-height: 200px;
}
.logo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.containerLogo{
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
}
#modoBoton {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    text-transform: uppercase; /* Texto en mayúsculas */
    font-weight: bold; /* Texto en negrita */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
body.dark-mode {
    background-color: #222;
}
#modoBoton.modo-oscuro-activado {
    background-color: #fff;
    color: #333; /* Cambio de color de texto */
}
#modoBoton .fa-regular.fa-moon {
    background-color: white;
}
body.dark-mode #modoBoton .fa-regular.fa-moon {
    background-color: black;
}
