@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}
.header{
    padding: 10px 0;
}
.container{
    display: flex;
    justify-content: flex-end;
}
button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 30px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.logo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
}
.logo a {
    text-decoration: none;
    max-height: 200px;
}
.logo img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}